.category_all {
  display: fixed;
  background-color: #f7f7f7;
  padding-top: 80px;
}

.category_top {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 40px;
  color: #5f0080;
  font-size: 20px;
}

.category_top-title {
  font-size: 20px;
  font-weight: 600;
}

.category_main-lookup {
  margin: 10px 0px;
}

.category_item {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  margin: 2px 0;
  background-color: white;
  color: #504f4f;
  font-size: 17px;
}

.category_item-title {
  padding-left: 10px;
}
