.index_main {
  display: fixed;
  background-color: #f7f7f7;
}

.mainAD {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.recommend {
  padding: 30px 0px 30px 15px;
  background-color: white;
}

.recommend-title {
  font-size: 23px;
  font-weight: 600;
}
.recommend-list {
  display: flex;
  padding-top: 15px;
}

.recommend-MDtitle {
  padding-top: 5px;
}

.recommend-DCprice {
  padding-top: 5px;
  font-weight: 600;
}

.recommend-price {
  padding-top: 4px;
  padding-left: 13px;
  font-size: 14px;
  color: #9e9e9e;
  text-decoration: line-through;
}

.discount {
  background-color: white;
  margin-top: 20px;
  padding: 30px 0px 30px 15px;
}

.discount-title {
  font-size: 23px;
  font-weight: 600;
  color: #5f0080;
}

.discount-explanation {
  color: #9e9e9e;
}

.discount-MD {
  font-size: 18px;
}

.discount-percentage {
  font-weight: 600;
  color: #5f0080;
}

.discount-price {
  font-weight: 600;
}
.discount-DCprice {
  font-size: 14px;
  color: #9e9e9e;
  text-decoration: line-through;
}

.discount-padding {
  padding-bottom: 10px;
}

.eventnews {
  margin-top: 20px;
  padding: 30px 0px 60px 30px;
  margin-bottom: 30px;
}

.eventnews-title {
  font-size: 23px;
  font-weight: 600;
}

.eventnews-item {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.eventnews-MD {
  padding-left: 20px;
}

.eventnews-icon i {
  margin-left: 15px;
  color: #7e7e7e;
  font-size: 23px;
}

.eventnews-MDtitle {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.eventnews-MDinfo {
  font-size: 15px;
  padding: 5px 0 0 10px;
  color: #7e7e7e;
}
