@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean");
@import "reset.css";
@import "bars.css";
@import "index_main.css";
@import "nav.css";
* {
  box-sizing: border-box;
}
/* it means Box size wont change even i put padding */

body {
  background-color: white;
  font-family: "Nanum Gothic", sans-serif;
  /* if Nanum Gothic doesnt exist, it sets with default*/
}

a {
  color: inherit;
  text-decoration: none;
}

/* even hyper link doesnt need color */
