.topbar {
  position: fixed;
  width: 100%;
  background-color: #5f0080;
  display: flex;
  margin: auto;
  padding-right: 30px;
}

.topbar i {
  font-size: 20px;
}

.topbar .topbar-icon {
  margin-left: auto;
  align-self: center;
}

.topbar .logo {
  margin-left: 45%;
}
